In [2]:
import pandas as pd

In [3]:
csv_path = "mortality/2015_data.csv"

In [6]:
deaths_df = pd.read_csv(csv_path, encoding="utf-8")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (40,41,42,43,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
reduced_deaths_df = deaths_df[["month_of_death", "sex", "age_recode_12", "marital_status",
        "day_of_week_of_death", "current_data_year", "manner_of_death", "activity_code", 
        "race", "hispanic_originrace_recode"]]
reduced_deaths_df.head()

,month_of_death,sex,age_recode_12,marital_status,day_of_week_of_death,current_data_year,manner_of_death,activity_code,race,hispanic_originrace_recode
0,1,M,10,M,1,2015,7.0,NaN,1,6
1,1,M,9,M,2,2015,7.0,NaN,1,6
2,1,F,11,W,6,2015,7.0,NaN,1,6
3,1,F,6,S,5,2015,3.0,9.0,3,8
4,1,F,11,W,5,2015,7.0,NaN,1,6

In [9]:
reduced_deaths_df.to_csv("mortality/reduced_deaths_df.csv", index=False, header=True)